#principal{
    display: flex;
    width: 100%;
    height: 100%;
    background-image: url("imgBg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#img{
    position: relative;
    opacity: 0.8;
    width: 100%;
    height: 585px;
}
#img img{
    width: 100%;
    height: 100%;
} 
h1{
    position: absolute;
    opacity: 1;
    top:50%;
    left: 15%;
    color: rgb(26, 71, 71)
}
#divForm{
    background-color: rgba(40, 146, 188, 0.619);
    width: 100%;
}
form{
    color: cyan;
    height: 100%;
    width: 100%;
}
#leftETright{
    display: flex;
    height: 75%;
    width: 100%;
}
#left{
    
    height: 400px;
    width: 50%;
}
#left   #div{
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 20px;
}
#left input{
    width: 90%;
    padding-top: 10px;
    border: none;
    outline: none;
    opacity: 0.7;
}
#left input:focus,
#left input:valid{
    border-bottom: 1px solid rgb(13, 227, 13);
}


#right{
    
    width: 50%;
}

#right #div1{
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 21px;
}
#right .inputRG{
    width: 90%;
    padding-top: 10px;
    border: none;
    outline: none;
    opacity: 0.7;
}
#div1_cheq{
    padding-top: 30px;
}
#div1_bank{
    padding-top: 30px;
}
#div1_date{
    padding-top: 25px;
}

#right input:focus,
#left input:valid
{
    border-bottom: 1px solid rgb(6, 250, 88);
}


#btn{
    margin-left: 67%;
}
#btn .submit, .reset{
    width: 90px;
    height: 25px;
    margin-top: 5px;
}
.submit{
    background-color: aqua;
    border: none;
    box-shadow: 2px 2px 3px rgb(45, 114, 114);
    cursor: pointer;
}
.submit:hover{
    background-color: rgb(11, 238, 162);
    color: white;
}

.reset{
    background-color: rgb(15, 203, 241);
    border: none;
    box-shadow: 2px 2px 3px rgb(45, 114, 114);
    cursor: pointer;
}
.reset:hover{
    background-color: rgb(238, 11, 11);
    color: white;
}

#contProg{
    
    background-color: rgb(51, 165, 154);
    width: 95%;
    border-radius: 15px;
}
#progress{
    background-color: rgb(7, 248, 108);
    color: rgb(8, 6, 6);
    padding: 1px;
    text-align: right;
    font-size: 7px;
    border-radius: 15px;
    width: 50%;
}

#divP{
    position: relative;
    margin-left: 10px;
}
#donate{
    position: absolute;
    top: 25px;
    left: 43%;
    background-color: rgb(30, 88, 88);
    color: rgb(250, 248, 248);
}


