body{
    background-image: url("fond.jpeg") ;
    background-repeat: no-repeat;
    background-size:cover;
    background-attachment: fixed;
}
h1, h1 + p{
   text-align: center;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
img{
    float: right;
    margin-top: -99px;
    margin-right: 20px;
}
section{
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-left: 10%;
    margin-right: 2%;
}

section div{
    vertical-align: top;
    padding: 15px;
    
}

@media screen and (max-width: 600px){
    section{
       display: block;
        margin-left: 10%;
        margin-right: 2%;
    }

    section div{
        padding: 15px;
        
    }
}