body{
    background-color: rgba(18, 152, 204, 0.5);
}
h2{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    font-style: oblique;
}
ol{
    font-size: 1.5em;
}
span{
    font-size: 1.7em;
    font-weight: bold;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: line-through;
    color: rgb(255, 0, 0);
}
.img{
    border: 5px groove yellow;
    border-radius: 1.5em;
    box-shadow: 5px 5px 20px rgb(25, 25, 21);
}
.a:hover{
    color: green;
    font-size: large;
    text-decoration: none;
}

#contener{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
}
.element{
    height: 100px;
    width: 150px;
    text-align: center;
}

.element:nth-child(1){
    background-color: aquamarine;
}
.element:nth-child(2){
    background-color: beige;
}
.element:nth-child(3){
    background-color: chartreuse;
}