body{
    background-image: url(fond.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

header{
    display: flex;
    justify-content:space-between;
    background-image: url(separateur.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-repeat: repeat-x;
}
#logo img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgb(51, 91, 93);
}
#logo h1{
    font-size: medium;
    float: right;
    margin-top: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
#div_principal2 h2{
    font-size: small;
    clear: both;
    margin-top: 10px;
}
nav ul{
    position:relative;
    bottom: -25px;
}
nav a:hover{
    position: relative;
    bottom: 3px;
    color: rgb(177, 80, 35);
    font-weight: bolder;
    text-decoration:underline;
}
nav a{
    display: inline-block;
    padding-right: 15px;
    margin-right: 1.2em;
    list-style-type: none;
    text-decoration: none;
    font-size: small;
    font-weight: bolder; 
    color: rgb(251, 7, 11);
}

/*Baniere image */
#banniere_image{
    position: relative;
    background-image: url(nature.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    margin-top: 10px;
    box-shadow: 0px 0px 10px;
}
#banniere_description{
   position: absolute;
   bottom: 0px;
   background-color: rgba(255, 255, 255, 0.5);
   width: 100%;
}
.voir_article{
    position: absolute;
    right: 3px;
    background-color: rgb(172, 50, 50);
    text-decoration: none;
    color: aqua;
    text-align: center;
    width: 120px;
}

/*Parie section*/
section{
    display: flex;
    margin-top: 20px;
    
    padding-bottom: 30px;
}
article{
    position: relative;
}
article img{
    border-radius: 50%;
    box-shadow: 0px 0px 10px white;
}
article h1{
    font-size: medium;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    float: left;
}
article p{
    clear: both;
    text-justify: auto;
}
aside{
    position: relative;
    background-color: rgb(112, 89, 89);
    margin-top: 15px;
    margin-bottom: 25px;
    color: rgb(186, 200, 212);
    width: 222%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
aside h2{
    font-weight: normal;
    font-size: small;
    text-align: justify;
}
aside p{
    font-size: small;
}
aside .reseaux img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
.reseaux{
    text-align: center;
}
#moi{
    text-align: center;
}
article, aside{
    text-align: justify;
    margin-left: 10px;
}
#bulle{
    position: absolute;
    top: 170px;
    left: -12px;
}

/*footer*/
footer{
    display: flex;
    background:  url('ico_botom.png') no-repeat top center, url('separateur.png') top repeat-x;
    justify-content: space-between;
    margin-bottom: 50px;
}

footer #tweet, #mes_photos, #mes_amis{
    position: relative;
    margin-top: 35px;
}

#tweet h1{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}
#tweet p{
    width: 99%;
}
#tweet{
    width: 28%;
    background-color: cornflowerblue;
    color: rgb(213, 229, 229);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(14, 15, 17);
}
#mes_photos h1{
    font-size: medium;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: aquamarine;
}
#mes_photos p img{
    width: 50px;
}
#mes_photos{
    width: 35%;
    text-align: center;
    background-color: rgb(61, 91, 147);
    display:inline;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(14, 15, 17);
}
#mes_amis{
    width: 31%;
    background-color: rgb(43, 97, 196);
    color: rgb(6, 248, 248);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgb(14, 15, 17);
}
#mes_amis h1{
    font-size: large;
    text-align: center;
}
#liste_amis {
    display: flex;
    justify-content: center;
}
#liste_amis li{
    list-style-type: none;
}
#liste_amis a{
    text-decoration: none;
    color: aquamarine;
}
#liste_amis ul{
    list-style-image: url(ico_liensexterne.png);
}
