body{
    background-image:url("nature.jpg");
    background-attachment: fixed;
}
#div{
    background-color: rgb(70, 149, 149, 0.5);
    margin-right: 95px;
    margin-left: 95px;
    margin-top: 30px;
    position: relative;
    border: 2px solid black;
    border-radius: 25px;
}
h2{
    color: aqua;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.section1{
    background-image: url("nature1.jfif");
    background-repeat: no-repeat;
    background-size: 100%;
    color: aliceblue;
}
.section2{
    background-image: url("nature2.jfif");
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
}
.section1:hover, .section2:hover{
    box-shadow: 0px 0px 18px rgb(10, 207, 237);
}
legend{
    text-align: center;
    color: rgb(0, 255, 225);
}
.btn{
    margin-left: 40%;
    margin-bottom: 10px;
    width: 100px;
    height: 35px;
    border-radius: 8px;
    text-transform: uppercase;
    background-color: aquamarine;
    cursor:pointer;
}
.btn:hover{
    box-shadow: 0px 0px 10px rgb(5, 243, 61);
    font-size: larger;
    width: 130px;
    height: 40px;
    background-color: green;
    color: white;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
input{
    margin: 5px;
    padding: 3px;
    border-radius: 7px;
    margin-left: 10px;
}
.prenom{
    margin-left: 20px;
}
.mail{
    margin-left: 35px;
}
