*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(64, 103, 107);
}
#container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}
#container .card{
    position: relative;
    width: 220px;
    height: 250px;
    background-color: rgb(53, 120, 98);
    display: flex;
    justify-content: center;
    align-items: center;
}
#container .card .percent{
    position: relative;
    width: 150px;
    height: 150px;
    
}
#container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
#container .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2px;
    stroke: rgb(56, 92, 82);
    transform: translate(5px, 5px);
}
#container .card .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.2s;
    opacity: 0;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animatDot 2s linear forwards;
}
@keyframes animatDot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}
.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--clr);
    transform: translate(-50%);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--clr), 
    0 0 30px var(--clr);
}
.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.2s;
    opacity: 0;
    
}
.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 2.5em;
}
.number h2 span{
    font-weight: 300;
    font-size: 0.5em;
}
.number p{
    font-weight: 300;
    font-size: 0.75em;
    line-height: 2px;
    color: whitesmoke;
    margin-top: 5px;
    letter-spacing: 2px;
}