body{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav{
    background-color: rgba(0, 255, 255, 0.576);
    height: 75px;
    display: flex;
    justify-content: center;
}
nav a{
    padding-left: 20px;
    padding-top: 25px;
    color: rgb(47, 119, 181);
    text-decoration: none;
}
#bakeli{
    background-image: url("bgSmok.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    margin-top: -16px;
    text-align: center;
}
.img img{
    margin-top: 250px;
    width: 150px;
    border-radius: 5px;
}
#pratique{
    background-color: rgb(134, 91, 60);
    height: 7%;
    margin-right: 41%;
    margin-left: 41%;
}

.pratique{
    color: white;
    padding-top: 15px;
    padding-left: 5%;
    width: 90%;
    font-size:small;
    font-weight: bold;
}
#phrase{
    position: relative;
    height: 48px;
    margin-right: 41%;
    margin-left: 41%;
    color: white;
}
#progDesiMark{
    display: flex;
    justify-content:space-around;
    padding-top: 100px;
}
#progr{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
}
#desi{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 25%;
}
#mark{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 25%;
}

#progDesiMark img{
    width: 50px;
    margin-top: 22px;
}
#ImgProg{
    position: relative;
    align-self: center;
}
#imgProg{
    border: 2px solid rgb(0, 255, 68);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#ImgDesi{
    position: relative;
    align-self: center;
}
#imgDesi{
    border: 2px solid rgb(0, 255, 81);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#ImgMark{
    position: relative;
    align-self: center;
}
#imgMark{
    border: 2px solid rgb(0, 255, 94);
    width: 100px;
    height: 100px;
    border-radius: 50%;
}


#bakeli2{
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: antiquewhite;
}
#bakel{
    text-align: center;
}
#bake{
    display: flex;
    justify-content: space-around;
    padding-left: 75px;
    padding-right: 75px;
}


#outil{
    background-color: cadetblue;
    
}
#outil1{
    display: flex;
}
#outil2{
    display: flex;
}
.wp img{
    height: 100%;
    width: 100%;
}
.html img{
    height: 100%;
    width: 100%;
}
.canv img{
    height: 100%;
    width: 100%;
}
.js img{
    height: 100%;
    width: 100%;
}
.java img{
    height: 100%;
    width: 100%;
}
.ink img{
    height: 100%;
    width: 100%;
}
.ae img{
    height: 100%;
    width: 100%;
}
.pyth img{
    height: 100%;
    width: 100%;
}



#progPrincip{
    margin-top: 75px;
}
#paragraph{
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
}
#barres{
    display: flex;
    justify-content: space-around;
}

#barre1{
    width: 30%;
}
#barre2{
    width: 30%;
}
.cent{
    float: right;
    margin-top: -20px;
}
.pratiq{
    clear: both;
    margin-bottom: 2px;
}
.quatre{
    float: right;
    margin-top: -20px;
}
.bakelInser{
    clear: both;
    margin-bottom: 2px;
}
.vingdix{
    float: right;
    margin-top: -20px;
}
.opport{
    clear: both;
    margin-bottom: 2px;
}
#cas1{
    padding-bottom: 15px;
}
#cas3{
    padding-bottom: 30px;
}
#prog{
    
    background-color: rgb(51, 165, 154);
    width: 95%;
    border-radius: 15px;
}
#progress{
    background-color: rgb(7, 248, 108);
    color: rgb(8, 6, 6);
    padding: 5px;
    font-size: 7px;
    border-radius: 15px;
    width: 100%;
}

#prog1{
    
    background-color: rgb(51, 165, 154);
    width: 97%;
    border-radius: 15px;
}
#progress1{
    background-color: rgb(7, 248, 108);
    color: rgb(8, 6, 6);
    padding: 5px;
    font-size: 7px;
    border-radius: 15px;
    width: 80%;
}

#prog2{
    
    background-color: rgb(51, 165, 154);
    width: 95%;
    border-radius: 15px;
}
#progress2{
    background-color: rgb(7, 248, 108);
    color: rgb(8, 6, 6);
    padding: 5px;
    font-size: 7px;
    border-radius: 15px;
    width: 90%;
}

#prog3{
    
    background-color: rgb(51, 165, 154);
    width: 95%;
    border-radius: 15px;
}
#progress3{
    background-color: rgb(7, 248, 108);
    color: rgb(8, 6, 6);
    padding: 5px;
    font-size: 7px;
    border-radius: 15px;
    width: 85%;
}

#teams{
    background-color: rgba(95, 158, 160, 0.559);
    margin-top: 75px;
}
#team{
    text-align: center;
    padding-top: 50px;
    margin: 0% 25% 100px 25%;
    color: white;
}
#colleg{
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    padding-bottom: 50px;
}
#colleg1 img{
    width: 80%;
    height: 80%;
}
#colleg2 img{
    width: 80%;
    height: 80%;
}

#colleg3 img{
    width: 80%;
    height: 80%;
}
#colleg4 img{
    width: 80%;
    height: 80%;
}

#colleg1{
    position: relative;
}
.p{
    background-color: rgba(0, 255, 255, 0.633);
    position: absolute;
    bottom: 12%;
    width: 80%;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: larger;
    text-align: center;
}
span{
    font-weight: bolder;
}
#colleg2{
    position: relative;
}
#colleg3{
    position: relative;
}
#colleg4{
    position: relative;
}
#finSection{
    text-align: center;
    margin-top: 50px;
}

.pImg img{
    width: 100px;
    height: 50px;
}
.pParagraph{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.pConclu{
    font-weight: bolder;
    padding-bottom: 50px;
}
footer{
    background-color: rgba(100, 148, 237, 0.485);
}
.h2{
    text-align: center;
    padding-top: 50px;
    font-weight: lighter;
}
#footerDiv{
    display: flex;
    justify-content: space-around;
    margin-left: 15%;
    margin-right: 15%;
    padding-left: 5%;
}
.contact{
    text-align: center;
    font-weight: lighter;
    margin-top: 75px;
}
.copyrite{
    text-align: center;
    margin-top: 75px;
    padding-bottom: 75px;
}
