body{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#bground{
    position: relative;
    background-image: url("Info.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding-top: 30px;
}
#contact{
    position: relative;
    padding: 20px 20px 20px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: white;
    background-color: rgb(248, 156, 8);
    margin: 0px 75px 0px 75px;
    border-radius: 10px;
}
#adress{
    width: 300px;
}
#p1{
    position: relative;
    margin-left: 45px;
}
#pico1{
    position: absolute;
    margin-top: 17px;
    padding-left: 15px;
}
#phone{
    width: 300px;  
}
#p2{
    position: relative;
    margin-left: 45px;
}
.ico{
    position: absolute;
    margin-top: 30px;
    padding-left: 15px;
}
#message{
    width: 300px;
}
#p3{
    position: relative;
    margin-left: 45px;
}



#dowloadcv{
   display: flex;
   justify-content: right;
}
#dowloadcv a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#dowloadcv p{
    padding-top: 10px;
    text-align: center;
    background-color: rgb(248, 156, 8);
    width: 125px;
    height: 30px;
    margin-right: 75px;
    border-radius: 5px;
}
#dowloadcv p:hover{
    transform: translateY(-5px);
    transition-duration: 1s;
    background-color: coral;
}
#identite{
    position: relative;
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    margin-top: -200px;
}
#moi img{
    width: 150px;
    height: 150px;
    margin-top: -80px;
    border-radius: 50%;
}
#nom{
    font-size: small;
}
#nom h2{
    font-weight: lighter;
    color: rgb(212, 163, 29);
    margin-top: -20px;
}
#naissance{
    margin-top: 35px;
}
#naissance span{
    font-weight: bold;
    font-size:small;
}
#icones{
    margin-bottom: 65px;
}




#icones i:hover{
    background-color: rgb(248, 156, 8);
    cursor: pointer;
    transition-duration: 1.5s;
}
#icones i{
    width: 48px;
    height: 35px;
    background-color: rgb(103, 91, 72);
    border-radius: 50%;
    margin-left: 5px;
    padding-top: 16px;
}
.orange{
    background-color: rgb(248, 156, 8);
    width: 55px;
    height: 10px;
    margin-left: 75px;
    border-radius: 10px;
}
#realisation h2, .work{
    margin-left: 75px;
}
#realisation .work{
    font-weight: bolder;
    opacity: 0.7;
    margin-top: -13px;
}
#realisation .reali{
    text-align: center;
    margin-top: -50px;
    font-weight: bolder;
    font-size: large;
}
.reali a{
    color: rgb(76, 67, 67);
    text-decoration: none;
    opacity: 0.7;
}
.reali a:hover{
    color: rgb(248, 156, 8);
}
#img img{
    width: 29%;
    height: 40%;
    padding: 3px;
    border: 3px solid gray;
}
#img a{
    width: 100%;
    margin-left: 2%;
}
#img{
    background-color: rgb(244, 247, 248);
}
.cv2{
    margin-bottom: 100px;
}



.cvLarge{
    margin-top: -85px;
}
#aboutme{
    display: flex;
    justify-content: space-around;
}
#about h1, .path{
    margin-left: 75px;
}
#about .path{
    font-weight: bolder;
    opacity: 0.7;
    margin-top: -13px;
}
#about{
    margin-top: 75px;
}
#parcours{
    margin-top: 75px;
    width: 50%;
}
#texte{
    font-size: larger;
    opacity: 0.7;
}

/*PROGRESS BAR*/

#progress{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 70vh;
    padding: 2% 1% 2% 1%;
}
#barr{
   background-color: aquamarine;
   width: 50%
}
#container{
    margin-top: -300px;
    position: relative;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-wrap: wrap;
    gap: 10px; 
}
#container .card{
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}



#container .card .percent{
    position: relative;
    width: 150px;
    height: 150px;
}
#container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);
}
#container .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2px;
    stroke: rgb(56, 92, 82);
    transform: translate(5px, 5px);
}
#container .card .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.2s;
    opacity: 0;
}
@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    animation: animatDot 2s linear forwards;
}
@keyframes animatDot{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(calc(3.6deg * var(--num)));
    }
}
.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: var(--clr);
    transform: translate(-50%);
    border-radius: 50%;
    box-shadow: 0 0 10px var(--clr), 
    0 0 30px var(--clr);
}



.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.2s;
    opacity: 0;
}
.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1a1f1d;;
    font-weight: 700;
    font-size: 2.5em;
    margin-top: -10px;
}
.number h2 span{
    font-weight: 300;
    font-size: 0.5em;
}
.number p{
    font-weight: 300;
    font-size: 0.75em;
    line-height: 2px;
    color: rgb(20, 24, 20);
    margin-top: -25px;
    letter-spacing: 2px;
}

#indigo{
    display: flex;
    justify-content: space-around;
    background-color: rgb(45, 3, 84);
    color: white;
    margin-top: -280px;
    padding-top: 5px;
    padding-bottom: 30px;
}

#work h1, .previous{
    margin-left: 70px;
}
#work h1{
    font-weight: bold;
    font-size: 25px;
}
#work .previous{
    font-weight: bolder;
    opacity: 0.7;
    margin-top: -13px;
}
#work{
    margin-top: 75px;
}



#jobs{
    margin-top: 75px;
    width: 50%;
}
.texte{
    font-size: larger;
    opacity: 0.8;
}
li{
    font-size: larger;
    opacity: 0.8;
    list-style-type:circle;
    margin-left: -20px;
}
#lieux h2{
    font-size: 20px;
}
#lieux h3{
    color: rgb(248, 156, 8);
    font-size: medium;
    margin-top: -10px;
}
#webMaster h1{
    font-weight: bolder;
    font-size:large;
}
#webMaster h3{
    font-size: medium;
    color: rgb(248, 156, 8);
    margin-top: -8px;
}

#education{
    display: flex;
    justify-content: space-around;
    margin-top: -30px;
}
#job{
    margin-top: 75px;
    width: 50%;
}
#job p{
    opacity: 0.5;
}
#work .previou{
    font-weight: bolder;
    opacity: 0.5;
    margin-top: -13px;
    margin-left: 70px;
}
#bgimage{
    background-image: url("bgimage.jpg");
    background-size: cover;
    display: flex;
    justify-content: space-around;
    padding: 50px 100px 50px 100px;
    color: white;
    width: auto;
}



#coder{
    display: flex;
}
#project{
    display: flex;
}
#finisProj{
    display: flex;
}
#client{
    display: flex;
}
.val{
    margin-top: -30px;
    margin-right: 15px;
}
.val h1{
    font-size: 50px;
}
.h2 h2{
    font-size: medium;
}

#footer{
    background-color: rgb(45, 3, 84);
    color: white;
    padding: 10px 0px 10px 0px;
    text-align: center;
}
#footer p{
    opacity: 0.6;
}





@media screen and (max-width: 769px){

    #bground{
        position: relative;
        background-image: url("Info.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        padding-top: 30px;
        padding-bottom: 0%;
    }
    #contact{
        display: flex;
        flex-wrap: wrap;
        color: white;
        background-color: rgb(248, 156, 8);
        margin: 0px 75px 0px 75px;
        padding: 0px;
    }
    #adress{
        width: 250px;
        margin-bottom: -10px;
    }
    #p1{
        position: relative;
        margin-left: 45px;
        padding-top: -10px;
    }
    #p1 .p{
        margin-top: -10px;
    }
    #pico1{
        position: absolute;
        margin-top: 17px;
        padding-left: 15px;
    }
    #phone{
        width: 250px;  
    }
    #p2{
        position: relative;
        margin-left: 45px;
    }
    #p2 .p{
        margin-top: -10px;
    }
    .ico{
        position: absolute;
        margin-top: 30px;
        padding-left: 15px;
    }
    #message{
        width: 100%;
        margin-left: 0px;
        margin-top: -10px;
    }
    #p3{
        margin-left: 45px;
    }



    #p3 .p{
        margin-top: -10px;
    }
    #identite{
        
        background-color: white;
        margin-left: 20%;
        margin-right: 20%;
        text-align: center;
        margin-top: -25%;
    }
    #bgimage{
        background-image: url("bgimage.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 50px 50px 50px 50px;
        color: white;
    }
    #coder{
        display: flex;
        margin-bottom: -30px;
        margin-left: 5px;
        width: 49%;
    }
    #project{
        display: flex;
        margin-bottom: -30px;
        margin-left: 5px;
        width: 49%;
    }
    #finisProj{
        display: flex;
        margin-left: 0px;
        width: 49%;
    }
    #client{
        display: flex;
        margin-left: 0px;
        width: 49%;
    }
    #img img{
        width: 95%;
        height: 40%;
        padding: 3px;
        border: 3px solid gray;
    }
   

    #progress{
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 100vh; 
        padding-bottom: 75px;
    }


    
    #barr{
       background-color: aquamarine;
       width: 65%
    }
    #container{
        margin-top: -200px;
        position: relative;
        display: flex;
        justify-content:center;
        align-items:center;
        flex-wrap: wrap;
        gap: 10px;
    }
}

@media screen and (max-width: 415px){
    #bgimage{
        background-image: url("bgimage.jpg");
        background-size: cover;
        display: flex;
        justify-content: right;
        flex-wrap: wrap;
        padding: 50px 50px 50px 100px;
        color: white;
        
    }
    #coder{
        display: flex;
        margin-bottom: -30px;
        width: 100%;
    }
    #project{
        display: flex;
        margin-bottom: -30px;
        width: 100%;
    }
    #finisProj{
        display: flex;
        width: 100%;
    }
    #client{
        display: flex;
        width: 100%;
    }
    .val{
        margin-right: 15px;
    }
    .val h1{
        font-size: 50px;
    }

    #realisation .reali{
        text-align: right;
        margin-top: -50px;
        font-weight: bolder;
        font-size: large;
    }
}