body{
    background: url("imgbg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}
#div{
    border: 2px solid rgb(0, 255, 145);
    background-color: rgba(0, 255, 255, 0.63);
    margin-left: 25%;
    margin-right: 22%;
    margin-top: 8%;
    border-radius: 20px;
}
form{
    display: flex;
    justify-content:center;
    padding: 2%;
}
#img img{
    height: 100%;
    width: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}
#form{
    width: 95%;
    margin-top: -10px;
    margin-bottom: 10px;
    padding-left: 10px;
    margin-right: -5px;
}
h1{
    font-weight:300;
    text-align: center;
    font-style: italic;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
}
.input1{
    width: 257px;
    height: 25px;
    font-size: large;
    font-weight:lighter;
    border-style: none;
    border-bottom: 2px solid red;
    background-color: rgba(0, 255, 255, 0.443);
}
.input1:focus{
    outline: none;
    border-bottom: 2px solid rgb(26, 232, 84);
}
.input1::placeholder{
    color: black;
}
.input{
    width: 95%;
    height: 25px;
    font-size: large;
    font-weight:lighter;
    border-style: none;
    border-bottom: 2px solid red;
    background-color: rgba(0, 255, 255, 0.443);
}
.input:focus{
    outline: none;
    border-bottom: 2px solid rgb(17, 234, 27);
}
.input::placeholder{
    color: black;
}
.btn{
    height: 35px;
    width: 120px;
    font-weight: bold;
    font-style: italic;
    font-size: large;
    cursor: pointer;
    background-color: rgba(22, 108, 193, 0.62);
    color: aqua;
    border-radius: 20px;
    margin-left: 30%;
}
.btn:hover{
    height: 40px;
    width: 125px;
    background-color: rgb(34, 181, 63);
}

.fa-solid {
    float: right;
    margin-right: 6%;
    margin-top: -20px;
}
#gender{
    margin-right: 6%;
    margin-top: -20px;
}
.p{
    background-color: aliceblue;
}
h2{
    text-align: center;
    color: rgba(32, 7, 252, 0.694);
    font-style: italic;
    font-size: 50px;
    background-color: rgba(128, 255, 0, 0.401);
    margin-left: 26%;
    margin-right: 25%;
    border-radius: 30px;
    border: 2px solid aquamarine;
}