body{
    display: flex;
    justify-content: center;
}
h1{
    font-weight: lighter;
    color: cyan;
}
#div1{
    background-color: aqua;
    height: 575px;

}
#div2{
    background-color: rgb(48, 140, 109);
    height: 575px;
    width: 50%;
    padding-left: 100px;
}
form{
    margin-top: 48px;
}
form input{
    margin-bottom: 8%;
    height: 20px;
    color: rgb(0, 255, 98);
    border-style: none;
    border-bottom: 1px solid cyan;
    outline: none;
    background-color:  rgb(48, 140, 109); 
}
form select{
    margin-bottom: 5%;
}
img{
    height: 100%;
    width: 100%;
}

#nom, #phone, #time{
    width: 75%;
}

form div{
    position: relative;
}

form .nom, .tel, .tps{
    position: absolute;
    top: 0px;
    left: 0px;
    color: aquamarine;
    font-style: italic;
    font-weight: lighter;
    pointer-events: none;
    transition: .5s;
}
form #time{
    color: aquamarine;
    font-weight: bold;
}
input:focus,
input:valid{
    border-bottom: 2px solid rgb(0, 255, 47);
}
form input:focus ~ .nom,
form input:valid ~ .nom{
    top: -16px;
    color: cyan;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

form input:focus ~ .tel,
form input:valid ~ .tel{
    top: -16px;
    color: cyan;
    font-family:sans-serif;
}

select{
    width: 76%;
    height: 25px;
    border-style: none;
    border-bottom: 2px solid rgb(0, 255, 0);
    outline: none;
    color: aquamarine;
    background-color:  rgb(48, 140, 109);;
    font-weight: lighter;
    font-size:medium;
    font-style: italic;
}

.pChoix{
    color: cyan;
}
button{
    height: 30px;
    width: 100px;
    background-color: rgb(17, 84, 210);
    color: coral;
    border: none;
    cursor: pointer;
}
.p{
    color: coral;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

#nbPerso {
   display:flex;
}
#nb1{
    position: relative;
    width: 100px;
    height: 25px;
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    text-align: center;
    background-color: aquamarine;
}
#val1{
    border: 1px solid black;
    height: 20px;
    width: 20px;
    margin: 2px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}
#val1 p{
    position: absolute;
    top: -15px;
    left: 5px;
    color: white;
}
#perso1{
    position: absolute;
    top: -15px;
    left: 25px;
}
#val2{
    border: 1px solid black;
    height: 20px;
    width: 20px;
    margin: 2px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}
#val2 p{
    position: absolute;
    top: -15px;
    left: 5px;
    color: white;
}
#perso2 {
    position: absolute;
    display: none;
    top: -15px;
    left: 25px;
}

#val3{
    border: 1px solid black;
    height: 20px;
    width: 20px;
    margin: 2px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}
#val3 p{
    position: absolute;
    top: -15px;
    left: 5px;
    color: white;
}
#perso3 {
    position: absolute;
    display: none;
    top: -15px;
    left: 25px;
}

#val4{
    border: 1px solid black;
    height: 20px;
    width: 20px;
    margin: 2px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}
#val4 p{
    position: absolute;
    top: -15px;
    left: 5px;
    color: white;
}
#perso4{
    position: absolute;
    display: none;
    top: -15px;
    left: 25px;
}



